.table
{
	margin-top: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: montserrat;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
}
.pricing
{
	
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
}
.tr
{
	background-color: 	black	;
	color: white;
	font-size: 18px;
}

.tr1
{
	background-color: #F97E4D;
}

.tr2
{
	background-color: #7ED7F9;
}

.tr3
{
	background-color: #8DFBCC;