.supportContainer
{
	margin-top: calc(69px + 50px);
	margin-bottom: 50px;
	height: 80vh;
	width: 90%;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.supportContent
{
	height: 80%;
	width: 30%;
	background-color: white;
}
.firstContent
{
	margin: 30px;
	font-size: 30px;
}
.supportDiv
{
	padding: 80px 0;
	height: auto;
	width: 100%;
	background-color: #dbcbca;
	display: flex;
	justify-content: space-around;
}
.online form
{
	height: 70vh;
}
.querySubmit
{
	margin-top: 8px;
}